* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	color: #24053e;
}

h1 {
	font-size: 80px;
	margin-bottom: 40px;
	font-family: "Fraunces", "Times New Roman", Times, serif;
	font-weight: 400px;
}

button {
	background-color: #44ffa1;
	color: #24053e;
}

.logo {
	height: 24px;
}

/* HEADER */
header {
	background-color: #24053e;
	color: white;
	height: 771px;
}

nav {
	padding-top: 56px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

header button {
	height: 56px;
	width: 162px;
}

.header-text {
	width: 50%;
    max-width: 635px;
	margin: 56px auto 0px;
	text-align: center;
}

/* footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
